@mixin clearfix() {
    &:after {
        display: block;
        content: '';
        line-height: 0;
        height: 0;
        visibility: hidden;
        clear: both;
    }
}

@function parseInt($n) { /* 2 */
    @return $n / ($n * 0 + 1); 
}

@mixin rem($property, $values) {
    $px : (); /* 3 */
    $rem: (); /* 3 */

    @each $value in $values { /* 4 */

        @if $value == 0 or $value == auto { /* 5 */
            $px : append($px , $value);
            $rem: append($rem, $value);
        }

        @else {
            $unit: unit($value);    /* 6 */
            $val: parseInt($value); /* 6 */

            @if $unit == "px" {  /* 7 */
                $px : append($px,  $value);
                $rem: append($rem, ($val / 10 + rem));
            }

            @if $unit == "rem" { /* 7 */
                $px : append($px,  ($val * 10 + px));
                $rem: append($rem, $value);
            }
        }
    }

    @if $px == $rem {     /* 8 */
        #{$property}: $px;  /* 9 */
    } @else {
        #{$property}: $px;  /* 9 */
        #{$property}: $rem; /* 9 */
    }
}

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin mobile(){
    @media only screen and (max-width: 700px) {
        @content;
    }
}


/* EASILY ADD ANOTHER SEASON IN THIS "ARRAY", MIXIN USAGE: @include giveColorFor(property, x); IF X != 0, TAKE DARK COLOR OF THE PRIMARY SEASON COLOR */

$seasons:
"winter" #ab0256,
"presummer" #53ad18,
"summer" #e87f00,
"autumn" #7c200b,
"spring" #d10b37;

@mixin giveColorFor($property, $darken: 0){
  @each $season in $seasons {
    $se: nth($season, 1);
    $co: nth($season, 2);
    
    @if $darken == 1 {
      $co: darken($co, 15%);
    }
      
    body.#{$se} &{
      #{$property}: $co;
    }
  }
}

/* ICONS WHERE .PNG ONCE WERE; USE THIS MIXIN TO PUT AN SVG IN HIS OWN ../img/icon-* FOLDER; $ICON = icon name, so the svg will be: mail_winter.svg in map ../img/icon-mail/ */
@mixin giveSvgSource($icon){
    @each $season in $seasons {
        $se: nth($season, 1);

        body.#{$se} &{
            background-image: url('../img/icon-#{$icon}/#{$icon}_#{$se}.svg');
        }
    }
}

body.presummer [data-type=video] .media__content p:first-child{color: #336a0f !important;}
body.summer [data-type=video] .media__content p:first-child{color: #9c5500 !important;}

