// colors
$c-dark			: rgb(54,56,57);		// dark grey
$c-light		: rgb(255,255,255);		// white

$c-pri			: rgb(168,0,86);		// purple
$c-sec			: rgb(87,0,45);			// dark purple
$c-tert			: rgb(219,221,226);		// light grey

$c-instagram	: rgb(95,100,101);		// grey
$c-facebook		: rgb(80,124,190);		// blue
$c-linkedin		: rgb(30,136,201);		// blue
$c-twitter		: rgb(99,205,241);		// blue
$c-pinterest	: rgb(241,95,93);		// salmon

$c-winter 		: rgb(168,0,86);		// purple
$c-spring 		: rgb(205,0,58);		// red
$c-presummer 	: rgb(88,172,37);		// green
$c-summer 		: rgb(229,125,3);		// orange
$c-autumn 		: rgb(122,30,16);		// brown

[data-season=winter] {
	background-color: rgb(168,0,86);
}

[data-season=spring] {
	background-color: rgb(205,0,58);
}

[data-season=presummer] {
	background-color: rgb(88,172,37);
}

[data-season=summer] {
	background-color: rgb(229,125,3);
}

[data-season=autumn] {
	background-color: rgb(122,30,16);
}

$gutter-media: 34px;