.btn {
	display: inline-block;
	text-decoration: none;	
	text-transform: uppercase;
	@include rem(font-size, 14px);	
	@include rem(line-height, 36px);
	@include rem(padding, 0 17px);
	@include rem(border-radius, 3px);
}

.btn--pri {
	@include clearfix();
	color: $c-light;
	@include giveColorFor(background-color);
	font-weight: 500;
	font-size: 15px;
	line-height: 45px;
	padding-right: 35px;
	
	svg {
		position: relative;
		right: -13px;
		display: inline-block;
		width: 14px;
		height: 14px;
		fill: $c-light;
		float: right;
		margin-top: 15px;
		margin-right: -10px;
	}
	
	@media only screen and (max-width: 500px) {
		font-size: 13px;
		
		svg {
			width: 12px;
			height: 12px;
			margin-right: -8px;
			margin-top: 17px;
		}
	}
}

.btn--sec {
	color: rgb(54,56,57);
	background-color: $c-light;
	@include rem(padding-right, 20px);
	
	svg {
		position: relative;
		right: 2px;
		display: inline-block;
		width: 14px;
		height: 14px;
		fill: $c-dark;
		float: right;
		margin-top: 12px;
		margin-right: -10px;
		
		@media only screen and (max-width: 620px) {
			margin-top: 7px;
		}
	}
	
	&:hover {
		background-color: rgb(54,56,57);
		color: $c-light;
		
		svg {
			fill: $c-light;
		}
	}
	
	@media only screen and (max-width: 500px) {
		font-size: 13px;
		
		svg {
			width: 12px;
			height: 12px;
			margin-right: -8px;
			margin-top: 12px;
		}
	}
}

.btn--tert {
	color: $c-light;
	background-color: $c-dark;
	
	svg {
		position: relative;
		right: 0;
		display: inline-block;
		width: 14px;
		height: 14px;
		fill: $c-light;
		float: right;
		margin-top: 10px;
		margin-right: -5px;
	}
	
	@media only screen and (max-width: 500px) {
		font-size: 13px;
		
		svg {
			width: 12px;
			height: 12px;
			margin-right: -4px;
			margin-top: 12px;
		}
	}
}

.btn--large {
	@include giveColorFor(background-color);
	border-radius: 0;
	color: $c-light;
	font-size: 16px;
	font-weight: 700;
	
	&__alt {
		background-color: rgb(35,31,32);
	}
}

.btn--readmore {
	@include clearfix();
	text-transform: uppercase;
	@include giveColorFor(color);
	padding-left: 0;
	width: 131px;
	
	svg {
		display: inline-block;
		width: 14px;
		height: 14px;
		@include giveColorFor(fill);
		float: right;
		margin-top: 10px;
	}
}