.cms-content {
	@include rem(font-size, 14px);
	@include rem(line-height, 24px);
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		font-weight: 500;
		line-height: 1.3;
	}
	
	h1 {
		@include rem(font-size, 32px);
		
		@media only screen and (max-width: 768px) {
			font-size: 24px;
		}
	}
	
	h2 {
		@include rem(font-size, 24px);
		
		@media only screen and (max-width: 768px) {
			font-size: 20px;
		}
	}
	
	h3 {
		@include rem(font-size, 18px);
	}
	
	h4,
	h5,
	h6 {
		@include rem(font-size, 16px);
	}
	
	a {
		@include giveColorFor(color);
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
	
	blockquote {
		position: relative;
		padding: 44px 20%;
		border-top: 2px solid rgb(244,245,248);
		border-bottom: 2px solid rgb(244,245,248);
		@include giveColorFor(color);
		font-style: italic;
		font-size: 24px;
		line-height: 31px;
		margin: 50px 0;
				
		&:before {
			position: absolute;
			top: 40px;
			left: 15%;
			width: 17px;
			height: 28px;
			display: block;
			content: '';
			@include giveSvgSource(quote);
			//background-image: url(../img/icon-quote.png);
			background-repeat: no-repeat;
		}
		
		@media only screen and (max-width: 640px) {
			font-size: 20px;
			line-height: 28px;
			margin: 25px 0;
			padding: 30px 20%; 
			
			&:before {
				top: 30px;
				left: 10%;
			}
		}
		
		@media only screen and (max-width: 360px) {
			font-size: 16px;
			line-height: 24px;
			padding: 20px;
			padding-left: 40px;
			
			&:before {
				top: 20px;
				left: 0;
			}
		}
	}
	
	ul,
	ol {
		list-style: none;
		
		li {
			position: relative;
			
			&:before {
				position: absolute;
				@include rem(top, 7px);
				@include rem(left, -25px);
				@include rem(width, 8px);
				@include rem(height, 8px);
				border-radius: 50%;
				display: block;
				content: '';
				@include giveColorFor(background-color);
			}
		}
	}
	
	ol {
		counter-reset: counter;
		
		li {
			counter-increment: counter;
			
			&:before {
				display: none;
			}
			
			&:after {
				position: absolute;
				top: 0;
				display: block;
				@include giveColorFor(color);
				font-weight: 500;
				@include rem(left, -25px);
				content: counter(counter);
			}
		}
	}
}