.cookiebar{
	
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:99;
	text-align:center;
	.wrap{
		padding-top:0;
	}

	.cms-content{
		display:inline-block;
	}
	.btn{
		margin-left:10px;
		padding-right:20px;
		padding-left:20px;
		cursor: pointer;
	}
}