.footer {
	@extend .wrap;
	padding-top: 0; //remove whitespace at top
	padding-bottom: 0; //remove whitespace at bottom
	margin-top:40px;
	color: rgb(255,255,255);
	@include rem(font-size, 14px);
	@include rem(line-height, 24px);
	
	@media only screen and (max-width: 400px) {
		padding: 0;
	}
	
	.row.nogutter {
		background-color: rgb(54,56,57);
		
		@media only screen and (min-width: 641px) {
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: row;
			flex-direction: row;
		}
	}
	
	a {
		color: inherit;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
	.logo img{
		max-width:143px;
	}
	
	.intro {
		font-style: italic;
		text-align: left;
		font-size: 14px;
		line-height: 24px;
		max-width: 286px;
		
		@media only screen and (max-width: 768px) {
			max-width: 90%;
		}
		
		+ a {
			svg {
				width: 14px;
				height: 14px;
			}
		}
	}
	
	.list--nav,
	.form {
		@include rem(margin-top, -6px);
	}
	
	.form-field {
		@include rem(max-width, 230px);
	}
	
	.pod--pri {
		@include rem(height, 70px); 
		
		@media only screen and (max-width: 883px) {
			height: auto;
		}
		
		.row,
		.col {
			height: inherit;
		}
		
		.row {
			margin-left: 0;
		}
		
		.col {
			@include rem(padding, 0 44px);
			@include rem(line-height, 70px);
			
			@media only screen and (max-width: 954px) {
				padding: 0;
				padding-left: 15px;
			}
			
			@media only screen and (max-width: 883px) {
				width: 100% !important;
				text-align: center;
			}
			
			.footerlogo {
				position: relative;
				opacity: .5;
				@include rem(top, 12px);
				
				&:not(:last-child) {
					@include rem(margin-right, 22px);
				}
				
				&.logo-skal {
					@include rem(top, 8px);
				}
			}
		}
		
		.social {
			display: inline-block;
			vertical-align: top;
			height: inherit;
			
			&:not(:last-child) {
				margin-right: 23px;
			}
			
			&.instagram svg {
				width: 18px;
				height: 18px;
			}
			
			&.linkedin svg {
				width: 18px;
				height: 20px;
			}
			
			&.twitter svg {
				width: 18px;
				height: 18px;
			}
			
			&.facebook svg {
				width: 15px;
				height: 17px;
			}
		}
	}
	
	.pod--tert {
		//border-bottom: 2px solid rgb(57,58,59);
	}
	
	svg {
		width: 143px;
		height: 61px;
		
		path {
			fill: $c-light;
			stroke: transparent;
			@include transition(all .2s ease);
		}
		
		&:hover path {
			@include giveColorFor(fill);
		}
	}
	
	&__menu {
		@media only screen and (max-width: 640px) {
			margin-top: 30px;
		}
		
		&__title {
			text-transform: uppercase;
			font-size: 15px;
			font-weight: 500;
			margin: 0; 
			padding-bottom: 24px;			
		}
		
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			border-top: 1px solid rgb(84,86,87);
			
			li {
				border-bottom: 1px solid rgb(84,86,87);
			}
			
			a {
				text-decoration: none;
				display: block;
				line-height: 30px;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	
	@media only screen and (max-width: 1000px) {
		.pod__inner {
			padding: 30px;
		}
	}
	
	@media only screen and (max-width: 900px) {
		.row .col-65,
		.row .col-35 {
			width: 50%;
		}
		
		.pod__inner .col {
			width: 100% !important;
		}
		
		.footer__menu {
			margin-left: 8px;
		}
	}
	
	@media only screen and (max-width: 768px) {
		.row .col-65,
		.row .col-35 {
			width: 100%;
		}
	}
} 
