$gutter: 36px;

.row {
	height: inherit;
	@include clearfix();
	@include rem(margin-left, -$gutter);
	
	@media only screen and (max-width: 768px) {
		&.firstrow {
			margin-left: 0;
		}
	}
	
	.col {
		float: left;
		height: inherit;
		@include rem(padding-left, $gutter);
	}
	
	.col-20 {
		width: 20%;
	}
	
	.col-25 {
		width: 25%;
	}
	
	.col-30 {
		width: 30%;
	}
	
	.col-33 {
		width: 33.33%;
	}
	
	.col-35 {
		width: 35%;
	}
	
	.col-40 {
		width: 40%;
	}
	
	.col-50 {
		width: 50%;
	}
	
	.col-60 {
		width: 60%;
	}
	
	.col-65 {
		width: 65%;
	}
	
	.col-70 {
		width: 70%;
	}
	
	.col-75 {
		width: 75%;
	}
	
	.col-100 {
		width: 100%;
	}
	
	&.nogutter {
		margin-left: 0;
		
		.col {
			padding-left: 0;
		}
	}
}