.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 3;
	background-color: $c-light;
	@include rem(height, 89px);
	

	@media only screen and (max-width: 994px) {
		@include rem(height, 57px);

	}

	&__inner {
		@include clearfix();
		width: 90%;
		height: inherit;
		margin: 0 auto;
		@include rem(max-width, 1180px);
		@include rem(padding, 7px 0);
		
		.logo,
		nav,
		.topcontent {
			float: left;
		}
		
		.logo {
			display: block;			
			margin-right: 36px; 
			
			svg,img {
				width: 173px;
				
			}
			
			@media only screen and (max-width: 1212px) {
				margin-right: 26px;
				
				svg,img {
					width: 140px;
				}
			}
			
			@media only screen and (max-width: 1080px) {
				margin-right: 20px;
				
				svg,img {
					width: 100px;
				}
			}
		}
		
		.topcontent { 
			width: 100%;			
			float: right;			
			background-color: rgb(244,245,248);
			max-width: 280px;
			margin-top: -7px;
			
			&__inner {
				@include clearfix();
				padding: 29px 23px;
				
				@media only screen and (max-width: 1212px) {
					padding: 20px;
				}
			}
			
			@media only screen and (max-width: 994px) {
				margin-right: 60px;
				display: none;
			}
			
			.btn,
			.languages,
			.order {
				float: left;				
			}
			
			.btn {
				display: block;
				color: $c-light;
				font-weight: 700;				
				border-radius: 0;				
				background-color: rgb(35,31,32);
				font-size: 15px;
				margin-right: 17px;
				
				@media only screen and (max-width: 1212px) {
					font-size: 13px;
					line-height: 30px;
				}
			}
			
			.form--search {
				padding-top: 63px;
				
				[type=text] {
					border-color: rgb(244,245,248);
					
					&:focus {
						@include giveColorFor(border-color);
					}
				}
				
				@media only screen and (max-width: 1212px) {
					padding-top: 50px;
				}
			}			
		}
		
		/*
		= mobile menu
		------------------------------ */
		.menu-mobile {
			position: absolute;
			top: 50%;
			right: 48px;
			@include transform(translateY(-50%));
			
			@media only screen and (min-width: 995px) {
				display: none;
			}
			
			.cross {
				position: relative;
				left: -3px;
			}
			
			&.active svg {
				fill: $c-light;
			}
			
			@media only screen and (max-width: 640px) {
				right: 30px;
			}
		}
		.is-mobile.languageswitch{
			position:absolute;
			@include transform(translateY(-50%));
			top: 50%;
			right:80px;
			@media only screen and (orientation: landscape) {
				margin-right:10px;
			}
		}
	}
}