*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
    &.is-fixed {
        overflow: hidden;
        position: fixed;
        width: 100%;
        margin-top:0 !important;
    }
}

body {
    background-color: $c-light;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}

img {
    max-width: 100%;
    height: auto;
}

.container {
    min-height: 100%;
}

.wrap {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
   	background-color: $c-light;
   	position: relative;
   	z-index: 2;
    padding: 34px;
    padding-bottom: 0;
    @include rem(max-width, 1181px);
    
    @media only screen and (max-width: 768px) {
        padding: 20px;
    }
}

.wrap--small {
    width: 90%;
    margin-right: auto;
    margin-left: auto;    
    @include rem(max-width, 829px);
}

.site-content {
    position: relative;
    @include rem(top, 57px);
}

.center {
	text-align: center;
}

.video-wrapper {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.section {
    margin: 3rem 0;
}

.tr {
    text-align: right;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

//paddings
.pl {
    padding-left: 5% !important;
}

.pl-l {
    padding-left: 7% !important;
}

//margins
.mt {
    margin-top: 40px;
}