nav {
	position: relative;
	display: block;
	@include rem(top, 22px);
				
	ul {
		@include clearfix();
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			position: relative;
			float: left;
			
			&:not(:last-child) {
				margin-right: 10px;
			}
			
			a {
				display: block;
				text-align: center;
				text-transform: uppercase;
				text-decoration: none;
				font-weight: 700;
				font-size: 15px;
				padding: 0 15px;
				line-height: 32px;					
				color: rgb(35,31,32);
				@include transition(background-color .2s ease);
				
				@media only screen and (max-width: 1300px) {
					padding: 0 10px;
					font-size: 14px;
				}
				
				@media only screen and (max-width: 1212px) {
					padding: 0 5px;
					font-size: 13px;
				}
				
				@media only screen and (max-width: 1050px) {
					padding: 0;
					padding-left:3px;
					padding-right:3px;
				}
			}
			
			&:hover a,
			&.current-menu-item a {
				@include giveColorFor(background-color);
				color: rgb(255,255,255);
				@media only screen and (max-width: 1050px) {
				
					padding-left:7px;
					padding-right:7px;
					@include mobile(){
						padding-left:0;
						padding-right:0;
					}
				}
			}
			
			//submenu
			&.menu-item-has-children {
				a {
					background-image: url(../img/down-arrow_dark.svg);
					background-repeat: no-repeat;
					background-position: right 5px center;
					background-size: 10px 14px;
					padding-right: 20px;
				}
					
				ul {
					position: absolute;
					top: 100%;
					left: 0;
					width: 228px;
					@include giveColorFor(background-color);
					padding: 20px 0;
					opacity: 0;
					max-height: 0;

					overflow: hidden;
					@include transition(all .2s ease);
					@include mobile(){

						max-height: 99999px;
					}

					li {
						float: none;
						margin-right: 0 !important;
						
						a {
							text-align: left;
							font-size: 14px;
							line-height: 36px;
							text-transform: inherit;
							color: $c-light;
							font-weight: 500;
							padding: 0 20px;
							background-image: none;
							
							@media only screen and (min-width: 641px) {
								&:hover {
									@include giveColorFor(background-color, 1);
									background-image: url(../img/arrow-white.svg);
									background-repeat: no-repeat;
									background-position: right 10px center;
									background-size: 10px 13px;
								}
							}
						}
					}
				}
				
				&:hover {
					a {
						background-image: url(../img/down-arrow_light.svg);
						@media only screen and (max-width: 641px) {
							background-image:none;
						}

					}
					
					ul {
						max-height: 500px;
						@include mobile(){
							max-height: 99999px;
						}
						opacity: 1;
						
						a {
							background-image: none;
						}
					}
				}				
			}
		}
	}
	

	.menu-wrapper{
		@media only screen and (max-width: 994px) {
			padding: 20px 28px; 
			
			position:relative;
		}
		.orderbuttons{
			.order{
				z-index:99;
				width:auto;
				.options{
					width:100%;
					.subtrigger.private{
						@include giveColorFor(color);
						background-color:white;
					}
					.bestelbox{
						width:100%;
						a{
							letter-spacing: -0.3px;
						}
					}
				}
				.trigger{
					margin-right:0;

				}	
			}
		}
	}
	.scroll-container{
		@media only screen and (max-width: 994px) {
			overflow:scroll;
			position:absolute;
			left:0;
			top:40px;
			bottom:0;
			right:0;
		}
	}


	// mobile navigation
	@media only screen and (max-width: 994px) {
		//display: none;
		position: fixed;
		top: 0;
		left: 100%;
		width: 90%;
		height: 100vh;
		padding:0;

		@include giveColorFor(background-color);
		border-left: 5px solid;
		@include giveColorFor(border-color, 1);
		@include transition(left .2s ease);
		


		
		

		@media only screen and (min-width: 641px) and (max-width: 768px) {
			width: 40%;
		}
		
		ul li {
			float: none;
			margin-right: 0 !important;
			
			&:not(:last-child) {
				margin-bottom: 5px;
			}
			
			a {
				text-align: right;
				color: $c-light;
				font-size: 20px;
				
				@media only screen and (max-width: 500px) {
					font-size: 16px;
				}
			}
			
			&.menu-item-has-children {
				margin-bottom:0;
				a {
					background-image: none;
					padding-right: 0;
					position:relative;
					
				}
				>a{
					&:before{
						content: "";
						background-image: url(../img/arrow-white.svg);
						height:10px;
						width:10px;
						display:inline-block;
						background-size:cover;
						background-position:center;
						@include transform(rotate(90deg));
						margin-right:10px;
						position:absolute;
						margin-left: -20px;
						position: absolute;
						margin-top: 10px;

					}
				}
				
				ul {

					position: relative;
					//display: none;
					width: 100%;
					opacity: 1;
					max-height: initial;
					padding: 0px 0 0;
					background-color: rgba(0,0,0,0);
					@include mobile(){

						max-height: 99999px;
					}

					li {
						margin-bottom: 0 !important;
						
						display:none;

						&.show-on-mobile{
							display:block;
							position:relative;
							z-index:1000;
							a{
								position:relative;
								z-index:1000;
								text-align: right;
								text-transform: uppercase;
								color: $c-light;
								font-size: 20px;
								padding:0;
								font-weight:700;
								line-height: 32px;
								@media only screen and (max-width: 500px) {
									font-size: 16px;
								}	
							}
							
						}


					 	&:not(.show-on-mobile) a {
					 		padding: 0;
					 		text-align: right;
					 		//padding-right: 20px;
					 		font-size: 14px;
					 		line-height:1.8em;
					 		text-align: right;
							color: $c-light;
					 	}
					}
				}
				&.open{
					>a{
						&:before{
							@include transform(rotate(-90deg));
						}
					}
					

					ul{
						li{
							display:block;
						}
					}

				}
			}
		}
		
		&.open {
			left: 10%;
			
			@media only screen and (min-width: 641px) and (max-width: 768px) {
				left: 60%;
			}
		}	
	}
}