.pagination {
	text-align: center;
	clear:both;
	span,a {
		display: inline-block;
		@include giveColorFor(color);
		cursor: pointer;
		
		&:not(:last-child) {
			@include rem(margin-right, 12px);
		}
		
		&.dot,&.page-numbers {
			text-decoration:none;
			text-align: center;
			border: 2px solid rgb(235,235,235);
			font-weight: 500;
			@include rem(line-height, 25px);
			@include transition(all .2s ease);		
			@include rem(font-size, 14px);
			@include rem(width, 28px);
			@include rem(height, 28px);
			@include rem(border-radius, 14px);
			
			&:hover,
			&.active,
			&.current {
				@include giveColorFor(border-color);
			}
		}
		
		&.prev,
		&.next {
			position: relative;
			top: 2px;
			
			svg {
				@include giveColorFor(fill);
				width: 14px;
				height: 14px;
			}
			border:0;
		}
		
		&.prev {
			left: -1rem;
			
			svg {
				@include transform(rotate(180deg));
			}
		}
		
		&.next {
			right: -1rem;
		}
	}
}