.pod {
	&__inner {
		@include rem(padding, 34px 54px);
	}
}

.pod--pri {
	color: rgb(149,149,150);
	background-color: rgb(42,43,44);
	
	.pod__inner {
		@include rem(padding, 14px);
	}
}

.pod--sec {
	background-color: rgb(54,56,57);
}

.pod--tert {
	background-color: rgb(68,70,71);
}