.searchresult {	
	.navigation {
		top: 0;
	}
	
	.cms-content {
		@include clearfix();
	}
	
	&__items {
		margin-bottom: 20px;
		padding-bottom: 20px;
		
		&:not(:last-child) {
			border-bottom: 1px solid #bebebe;
		}
		
		.title {
			font-size: 28px;
			margin: 0;
			line-height: 48px;
			@include giveColorFor(color);
			font-weight: 500;
		}
	}
	
	&__item {
		@include clearfix();
		margin-top: 10px;
		display: block;
		color: $c-dark !important;
		
		.image,
		.content {
			float: left;
		}
		
		.image {
			width: 20%;
			min-height: 1px; //altijd de 20% width aanhouden, wel of geen foto
			text-align: center;
			
			.image__inner{

				overflow: hidden;
				position:relative;
				height:0;
				//padding-top:2/3*100%;
				padding-top:100%;
				background-size:cover;
				background-position:center center;

				img {
					position:absolute;
					left:0;
					top:50%;
					width: 100%;
					height: auto;
					display: block;
					@include transform(translate(0,-50%));
				}
			
			}

			
			@media only screen and (max-width: 640px) {
				width:36%;
				padding-right:10px;
				padding-top:7px;
			}
		}
		
		.content {
			width: 80%;
			padding-right: 15%;
			padding-left: 20px;
			
			@media only screen and (max-width: 640px) {
				width: 100%;
				padding-right: 0;
				padding-left: 0;
			}
		}
		
		.title {
			font-size: 20px;
			line-height: 1.6em;
		}
		
		.subtitle{
			text-transform: uppercase;
			@include giveColorFor(color);
			margin-bottom:0px;
			font-weight: 500;
		    font-size: 14px;

		    
		}
		p {
			margin-top: 0;
		}
	}
	
	article {
		//float: left;
		//width: 33.33%;
		width: 100%;
		margin-bottom: 20px;
		padding-bottom: 20px;
		
		&:not(:last-child) {
			border-bottom: 1px solid #ebebeb;
		}
		
		.entry-header,
		.entry-summary,
		.entry-footer {
			width: 75%;
		}
	}
}