.screen-reader-text {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.is-mobile {
	@media only screen and (min-width: 769px) {
		display: none;
	}
}

.is-desktop {
	@media only screen and (max-width: 768px) {
		display: none;
	}
}

.is-hidden{
	display:none !important;
}