@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700');

html {
	font-size: 62.5%;
}

body {
	font-family: 'Fira Sans', Arial, sans-serif;
	line-height: 1.2;
	color: $c-dark;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    @include rem(font-size, 16px);
}

h1,
h2 {
	font-weight: 500;
	margin: 0;
	font-size: 36px;
	
	@media only screen and (max-width: 1000px) {
		font-size: 28px;
	}
	
	@media only screen and (max-width: 640px) {
		font-size: 20px;
	}
}

h1 {
	@include rem(line-height, 64px);
	@include rem(margin-bottom, 30px);
	
	@media only screen and (max-width: 1000px) {
		line-height: 50px;
		margin-bottom: 10px;
	}
	
	@media only screen and (max-width: 500px) {
		font-size: 24px;
		line-height: 32px;
	}
}

h2 {
	@include rem(line-height, 70px);
	
	@media only screen and (max-width: 640px) {
		line-height: 1.5;
	}
}

.italic {
	font-style: italic;
}