.banner {
	position: relative;
	margin-top: 100px; 
	width: 90%;
	max-width: 934px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgb(244,245,248);
	@include giveColorFor(color);
	font-size: 26px;
	@include mobile(){
		width:auto;
	}

	.boek {
		position: absolute;
		top: -40px;
		left: -20px;
		z-index: 1;
		@include mobile(){
			position:relative;
			top:auto;
			left:auto;
		}
	}
	
	.price {
		position: absolute;
		z-index: 2;
		top: -68px;
		left: 74px;
		width: 145px;
		height: 145px;
		border-radius: 50%;
		@include giveColorFor(background-color);
		color: $c-light;
		font-size: 36px;
		text-align: center;
		line-height: 4;
		@include transform(rotate(-15deg));
		
		span {
			position: relative;
			top: -5px;
			font-size: 28px;
			display: inline-block;
		}
	}
	
	&__inner {
		padding: 36px;
		padding-left: 238px;
		@include mobile{
			padding:15px;
			padding-left:15px;

		}
	}
	
	p {
		margin: 0;
	
		&.banner__title {
			font-size: 36px;
			font-weight: 500;
			color: $c-dark;
		}
	}
	
	&__btn {
		@include clearfix();
		display: inline-block;
		margin-top: 30px;
		font-size: 14px;
		color: $c-light;
		text-transform: uppercase;
		text-decoration: none;
		background-color: rgb(188,188,188);
		padding: 8px 18px; 
		border-radius: 3px;
		width: 100%;
		max-width: 189px;
		
		&:first-of-type {
			@include giveColorFor(background-color);
			margin-right: 20px;
		}
		
		svg {
			float: right;
			width: 14px;
			height: 14px;
			fill: $c-light;
		}
	}
}