.contactwrapper {
	width: 90%;
	@include rem(margin, 20px auto 80px);
	@include rem(max-width, 830px);
	
	@media only screen and (max-width: 768px) {
		margin: 0 auto 30px;
		width: 100%;
	}
	
	.map {
		@include rem(margin-bottom, 20px);
		height: 400px;
	}
	
	.pod {
		&:not(:last-child) {
			@include rem(margin-bottom, 40px);
			
			@media only screen and (max-width: 1000px) {
				margin-bottom: 20px;
			}
		}
		
		h2 {
			@include rem(font-size, 24px);
			@include rem(line-height, 24px);
			margin-bottom: 20px;
			
			@media only screen and (max-width: 1000px) {
				font-size: 18px;
				line-height: 20px;
				margin-bottom: 10px;
			}
		}
		
		p {
			@include rem(font-size, 14px);
			@include rem(line-height, 24px);
		}
		
		strong {
			font-weight: 400;
			@include rem(font-size, 16px);
			@include rem(line-height, 30px);
		}
	}
	
	.pod--data {
		p {
			margin: 0;
			@include giveColorFor(color);
			@include rem(font-size, 18px);
			@include rem(line-height, 40px);
			
			@media only screen and (max-width: 1000px) {
				font-size: 16px;
				line-height: 32px;
			}
		}
		
		a {
			color: inherit;
			text-decoration: none;
		}
		
		&__small p {
			@include rem(font-size, 16px);
			@include rem(line-height, 30px);
		}
		
		@media only screen and (max-width: 768px) {
			float: left;
			width: 50%;
		}
		
		@media only screen and (max-width: 500px) {
			width: 100%;
		}
		
		.phone-and-email p,
		.address p {
			padding-left: 50px;
			background-repeat: no-repeat;
			background-position: left 7px center;
		}
		
		.phone-and-email p {
			&:nth-child(2) {
				@include giveSvgSource(phone);
				background-position: left 10px center;
				height: 25px;
				line-height: 25px;
			}
			
			&:nth-child(3) {
				@include giveSvgSource(mail);
				background-position: left 10px center;
				height: 19px;
				line-height: 19px;
				margin-top: 20px;
			}
		}
		
		.address p:first-of-type {			
			@include giveSvgSource(pin);
		}
	}
	
	@media only screen and (max-width: 768px) {
		.row {
			margin-left: 0;
			
			.col {
				@include clearfix();
				padding-left: 0;
			}
			
			.col-50 {
				width: 100%;
			}
		}
	}
}