.debugbar{
	a{
		display: inline-block;
		padding: 0 20px;
		margin: 15px 15px 0 0;

		&:nth-child(1){background: $c-winter}
		&:nth-child(2){background: $c-spring;}
		&:nth-child(3){background: $c-presummer;}
		&:nth-child(4){background: $c-summer;}
		&:nth-child(5){background: $c-autumn;}
	}
}