.hero {
	width: 100%;
	margin-right: auto;
	margin-left: auto;	
	//margin-bottom: -305px;
	//margin-bottom: -24%; 
	@include rem(max-width, 1600px);
	@include rem(height, 590px);

	


	@media only screen and (min-width: 1220px) {
		margin-bottom:-200px;
	}
	@media only screen and (min-width: 1300px) {
		margin-bottom: -300px;
	}


	@media only screen and (max-width: 1220px) {
		@include rem(height, 270px);
	}

	@media only screen and (max-width: 1120px) {
		@include rem(height, 220px);
	}

	@media only screen and (max-width: 1020px) {
		@include rem(height, 190px);
	}
	@media only screen and (max-width: 960px) {
		@include rem(height, 160px);
	}
	

	/*
	@media only screen and (max-width: 1100px) {
		margin-bottom: -28%;
	}
	
	@media only screen and (max-width: 1024px) {
		margin-bottom: -36%;
	}
	
	@media only screen and (max-width: 860px) {
		margin-bottom: -48%;
	}
	
	@media only screen and (max-width: 768px) {
		margin-bottom: -70%;
		height: 490px;
	}
	
	@media only screen and (max-width: 666px) {
		margin-bottom: -86%;
	}
	
	@media only screen and (max-width: 580px) {
		margin-bottom: -100%;
	}

	*/

		
	&__inner,
	&__inner__media {
		height: inherit;
	}
	
	&__inner__media {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		
		// alignment background image
		&.bg-top {
			background-position: top center;
		}
		
		&.bg-center {
			background-position: center;
		}
		
		&.bg-bottom {
			background-position: bottom center;
		}
		@for $i from 0 through 20{
			$perc : $i * 5%;
			$key : $i * 5;
			&.bg-align-vertical-#{$key} {
				background-position: 50% $perc;
			}
		}
	}
}
 