.hero--large {
	position: relative;
	height: 64vh;
	@media only screen and (min-width : 768px){
		@media only screen and (max-height: 880px) {
			height:80vh;
		}
	}
	@media only screen and (max-width: 768px) {
		height: 300px;
		margin-bottom: 0;
	}
	
	.hero__inner {
		position: relative;
	}
	
	/*
	= slider
	------------------------------ */
	.hero__slider,
	.owl-stage-outer,
	.owl-stage,
	.owl-item,
	.hero__item {
		height: inherit;
	}
	
	.hero__item {
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		
		&__content {
			position: absolute;		
			left: 13%;
			width: 580px;
			margin-top: -70px;
			font-weight: 700;
			font-size: 58px;
			line-height: 62px;
			color: $c-light;
			z-index: 1;
			text-shadow: 0 0 6px rgba(0,0,0,.3);			
			
			&.show {
				@include animation('appear .5s ease-in-out 2s forwards');
			}
			
			@media only screen and (min-width: 1025px) {
				top: 36%;
				@include transform(translateY(-50%));
			}
			
			@media only screen and (max-width: 1024px) {
				margin-top: -130px;
			}
			
			@media only screen and (max-width: 768px) {
				font-size: 38px;
				line-height: 42px;
				margin-top: 0;
				//max-width: 430px;
				@media only screen and (orientation: landscape) {
					width:380px;
					margin-top:41px;
				}
			}
			
			@media only screen and (max-width: 540px) {
				left: 4%;
				font-size: 31px;
				width: 80%;
			}
			
			@media only screen and (max-width: 480px) {
				margin-top: 60px;
				line-height: 34px;
			}


			@media only screen and (min-width : 768px){
				
				@media only screen and (max-height: 880px) {
					font-size: 38px;
					line-height: 42px;
					margin-top: -50px;
					@include transform(translateY(-70%));
					
				}
				@media only screen and (max-height: 800px) {
					font-size: 38px;
					line-height: 42px;
					margin-top: -70px;
					@include transform(translateY(-70%));
					
				}
				@media only screen and (max-height: 700px) {
					font-size: 32px;
					line-height: 36px;
					margin-top: -70px;
					top:40%;
					@include transform(translateY(-60%));
					
				}

			}
			
		}
	}
	
	.dots {
		position: absolute;
		left: 13.1%;
		bottom: 320px;
		z-index: 1;
		@include clearfix();
		
		@media only screen and (max-width: 1024px) {
			bottom: 370px;
		}
		
		@media only screen and (max-width: 768px) {
			bottom: 40px;
			left: 4%;
		}
		
		@media only screen and (max-width: 480px) {
			bottom: 60px;
		}
		
		@media only screen and (max-width: 460px) {
			bottom: 80px;
		}

		@media only screen and (min-width : 768px){
			@media only screen and (max-height: 700px) {
				bottom:230px;
			}

		}
		
		.owl-dot {
			float: left;
			width: 18px;
			height: 18px;
			margin-right: 6px;
			border-radius: 50%;
			border: 2px solid $c-light;
			cursor: pointer;
			
			@media only screen and (max-width: 600px) {
				width: 14px;
				height: 14px;
			}
			
			&.active {
				background-color: $c-light;
			}
		}
	}
}

@include keyframes(appear) {
	0% 		{ opacity: 0; }
	100% 	{ opacity: 1; }
}