.image-with-text .inner {
	@include clearfix();
	margin-bottom:15px;
	.content {
		.section {
			margin: 0;
		}
		
		p {
			margin-top: 0;
		}
	}
	

	.visual{
		overflow: hidden;
		position:relative;
		height:0;
		padding-top:3/4*100%;
		background-size: cover;
		background-position:center;
		img {
			position:absolute;
			left:0;
			top:50%;
			width: 100%;
			height: auto;
			display: block;
			@include transform(translate(0,-50%));
		}

	}
	@media only screen and (max-width: 750px) {
		.row .col-50 {
			width: 100%;
			margin-bottom: 20px;
		}
	}
} 
