.intro {
	text-align: center;
	@include rem(font-size, 24px);
	
	@media only screen and (max-width: 768px) {
		font-size: 18px;
		line-height: 1.5;
	}
	
	&__inner {
		margin-right: auto;
		margin-left: auto;
		@include rem(padding-bottom, 40px);		
		@include rem(max-width, 870px);
		
		p {
			font-size: 14px;
			line-height: 24px;
			
			&:first-of-type {
				font-size: 24px;
				line-height: 1.3;
				
				@media only screen and (max-width: 1000px) {
					font-size: 18px;
					width: 80%;
					margin-right: auto;					
					margin-top: 0;
					margin-left: auto;
					line-height: 1.5;
				}
				
				@media only screen and (max-width: 500px) {
					font-size: 16px;
				}
				a{
					@include giveColorFor(color);
					text-decoration: none;
				}
			}
			a{
				@include giveColorFor(color);
				text-decoration: none;
			}
		}
	}
	
	&__title {
		font-weight: 500;
		@include rem(font-size, 36px);
		@include rem(line-height, 40px);
	}
}