.languages {
	@include clearfix();
	position: relative;
	background-color: $c-light;
	width: 65px;
	padding: 8px;
	padding-bottom: 7px;
	
	svg {
		width: 11px;
		height: 11px;
		display: inline-block;
		float: right;
		margin-top: 3px;
		@include transform(rotate(90deg));
	}
	
	img {
		display: block;
	}
	
	.other {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		max-height: 0;
		background-color: $c-light;
		overflow: hidden;
		@include transition(max-height .2s ease);
		
		a {
			display: block;
			margin-bottom: 5px;
			padding: 8px;
			padding-bottom: 0;
		}
	}
	
	&.open .other {
		max-height: 500px;
	}
}