.media {
	@include clearfix();
	margin-bottom: -$gutter-media;
	
	&.slider {
		margin-top: 0;
	}
	
	@media only screen and (max-width: 768px) {
		margin-bottom: 30px;
		
		&.slider .owl-dots {
			margin-top: 0;
		}
	}
	
	&__items {
		@include clearfix();
		margin-left: -$gutter-media;
		
		@media only screen and (max-width: 768px) {
			margin-left: 0;
			
			&.slider .owl-prev {
				left: 0;
			}
		}
	}
	
	&__item__inner,
	&__visual {
		position: relative;
		height: inherit;
		overflow: hidden;
	}
	
	&__visual div {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		@include transition(transform 1s ease);
		
		//remove unwanted shake on hover
		-webkit-backface-visibility: hidden;
		@include transform(translateZ(0) scale(1.0, 1.0)); 
	}
	
	&__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}	
	
	&__item {
		position: relative;
		float: left;
		margin-bottom: $gutter-media;
		padding-left: $gutter-media;
		width: 40%;
		//height: 33.2rem;
		height: 26rem;

		color: inherit;
		text-decoration: none;
		
		@media only screen and (max-width: 768px) {
			padding-left: 0;
			height:331px;
		}
				
		&__inner {
			@include clearfix();
			position: relative;
			overflow: hidden;
			display: block;
			.media__visual div {
				@include transform(scale(1) rotate(0deg)); 
			}
			&:hover .media__visual div {
				@include transform(scale(1.05) rotate(0deg)); 
			}
		}
		
		&--small {
			width: 33.33%;
			
			@media only screen and (max-width: 768px) {
				width: 100%;
			}
			
			/*@media only screen and (max-width: 666px) {
				width: 100%;
			}*/
		
			.media__item__inner {
				border: 1px solid rgb(237,239,243);
			}
			
			.media__content {
				position: relative;
				padding: 3.3rem;
				
				@media only screen and (max-width: 840px) {
					padding: 20px;
				}
				
				p {
					font-size: 2.4rem;
					font-weight: 400;
					margin: 0;
					
					@media only screen and (max-width: 880px) {
						font-size: 18px;
					}
					
					&:first-child {
						font-size: 1.4rem;
						font-weight: 500;
						text-transform: uppercase;
						@include giveColorFor(color);
						margin-bottom: 0.3rem;
					}
				}
			}
			
			.media__visual {
				@media only screen and (min-width: 769px) {
					height: 100%;
					max-height: 22.9rem;
				}
				
				@media only screen and (max-width: 768px) {
					height: 0;
					padding-top: 50%;
				}
			}
		}
		
		&--large {
			width: 60%;
			
			@media only screen and (max-width: 768px) {
				width: 100%;
			}
			
			/*
			@media only screen and (max-width: 666px) {
				width: 100%;
			}
			*/
		}
	}
	
	&__filter {
		text-align: center;
		margin-bottom: 5rem;
		@media only screen and (max-width: 768px) {
			margin-top:0;
		}
		&__item {
			position: relative;
			display: inline-block;
			
			&:not(:last-child) {
				margin-right: 7rem;
			}
			@media only screen and (max-width: 768px) {
				display:block;
				text-align: left;
				margin-left:30px;
				margin-right:15px;
				&:not(:last-child) {
					margin-right: 0;
				}
			}
		}
		a{
			color:#363839;
			//text-decoration: none;
		}
		label {
			position: relative;
			cursor: pointer;
			
			&:before,
			&:after {
				position: absolute;
				top: 50%;
				left: -2.5rem;
				display: block;
				content: '';
				@include transform(translateY(-50%));
			}
			
			&:before {				
				width: 1.3rem;
				height: 1.3rem;
				background-color: $c-light;
				border: 1px solid;
				@include giveColorFor(border-color);				
			}
			
			&:after {
				width: .9rem;
				height: .7rem;
				left: -2.3rem;
				display: none;
				@include giveSvgSource(check);
			}			
		}
		
		[type=checkbox] {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			
			&:checked ~ label:after {
				display: block;
			}
		}
	}
}

/*
 * specific page styling
 * TODO: non-dependency of body classes
 */
body.blog {
	.media__item {
		height: 38.1rem;
		
		@media only screen and (max-width: 640px) {
			//height: 180px;
			height: auto;
			
		}
		
		@media only screen and (max-width: 500px) {
			
			
		}
	}
	
	.media__item--large {
		width: 66.66%;
		
		@media only screen and (max-width: 768px) {
			width: 100%;
			height:auto;
		}
		
		/*
		@media only screen and (max-width: 666px) {
			width: 100%;
		}
		*/
	}
}