[data-type=facebook] {
	.media__item__inner {
		background-color: rgb(244,245,248);
		display: block;
		color: inherit;
	}
	
	.media__visual,
	.media__content {
		position: relative;
		float: left;
		width: 50%;
	}
	.media__visual{
		width:39.7%;
	}
	.media__content{
		width:100%-39.7%;
	}
	@media only screen and (max-width: 768px) {
		.media__visual {
			//display: none;
			height:181px;
			width:auto;
			float:none;
			div{

			}
		}
	}
	
	.media__content {
		position: relative;
		height: inherit;
		font-style: italic;
		@include rem(padding-right, 47px);
		@include rem(padding-left, 47px);
		
		@media only screen and (max-width: 768px) {
			width: 100%;

			@media only screen and (orientation: landscape) {
				height:185px;
				p{
					font-size:14px;
				}
			}


		}
		
		@media only screen and (max-width: 640px) {
			padding: 20px 20px;
		}
		
		.icon {
			position: absolute;
			top: 0;
			left: 0;
			width: 44px;
			height: 44px;
			text-align: center;
			background-color: $c-facebook;
			
			@media only screen and (max-width: 640px) {
				width: 33px;
				height: 33px;
				display:none;				
			}
			
			svg {
				position: relative;
				top: 50%;
				display: inline-block;
				width: 20px;
				height: 20px;
				fill: $c-light;
				@include transform(translateY(-50%));
				@include backface-visibility(hidden);
				@media only screen and (max-width: 640px) {
					width: 14px;
					height: 14px;
					top: 49%;
				}
			}
		}

	}
	
	.media__content__wrapper {
		@media only screen and (min-width: 641px) {
			position: relative;
			top: 40%;
			@include transform(translateY(-50%));
		}
		
		@media only screen and (max-width: 640px) {
			
			
		}
		
		p {
			margin: 0;
			font-size: 14px;
			line-height: 1.2em;

			@media only screen and (max-width: 768px) {
				margin-bottom:10px;
				font-size:12px;
				line-height:1.3em;

				
				@media only screen and (orientation: landscape) {
						font-size:14px;
				}
			}
		}
	}
	
	.facebook--like {		
		font-style: normal;
		font-weight: 500;
		color: $c-light;
		display: inline-block;
		background-color: $c-facebook;
		padding: 0 15px 0 10px;
		text-transform: uppercase;
		border-radius: 3px;
		@include rem(font-size, 14px);
		@include rem(line-height, 37px);
		
		@media only screen and (min-width: 641px) {
			position: absolute;
			@include rem(left, 47px);
			@include rem(bottom, 47px);			
		}
		
		svg {
			position: relative;
			top: 5px;
			left: 0;
			display: inline-block;
			width: 33px;
			height: 22px;
		}
	}
	
	.highlight {
		color: $c-facebook;
	}
}