[data-type=blog] {
	text-decoration:none;
	.media__item__inner {
		@include giveColorFor(background-color);
		text-decoration:none;
	}
	
	.media__visual,
	.media__content {
		position: relative;
		float: left;
		width: 50%;
	}
	
	@media only screen and (max-width: 768px) {
		.media__visual {
			float:none;
			width:auto;
			height:0;
			padding-top:55%;
			position:relative;
			.page-template-template-homepage &{
				height:150px;
				padding-top:0;	
			}
		}
		
		.media__content {
			float:none;
			width:auto;
			a{
				text-decoration: none;
			}
			.media__content__wrapper{
				padding-bottom:20px;
				text-decoration: none;
				p{
					text-decoration: none;
				}
			}
		}
	}
	
	.media__content {
		height: inherit;
		@include rem(padding-right, 47px);
		@include rem(padding-left, 47px);
		
		@media only screen and (max-width: 840px) {
			padding-right: 20px;
			padding-left: 20px;
		}
		
		p {
			color: $c-light;
			font-weight: 400;
			margin: 0;
			@include rem(font-size, 24px);
			
			@media only screen and (max-width: 880px) {
				font-size: 18px;
			}
			
			&:first-child {
				font-weight: 500;
				text-transform: uppercase;
				@include giveColorFor(color,1);
				
				@include rem(margin-bottom, 3px);
				@include rem(font-size, 14px);
			}
		}
	}
	
	.media__content__wrapper {
		position: relative;
		top: 50%;
		margin-top: 7%;
		@include transform(translateY(-50%));
		@media only screen and (max-width: 768px) {
			top:auto;
			@include transform(translateY(0%));

		}

	}
	
	.btn {
		margin-top: 11%;
		min-width: 158px;
		@media only screen and (orientation: landscape) {
			@media only screen and (max-width: 768px) {
				margin-top:8%;
			}

		}
	}
}