[data-type=instagram] {
	@media only screen and (max-width: 768px) {
		width: 50%;
		@media only screen and (orientation: landscape) {
			width:100%;
		}

	}
	
	@media only screen and (max-width: 666px) {
		width: 100%;
		height:331px;
		
	}
	@media only screen and (max-width: 666px) {
		.media__visual{
			padding-top:100%;
		}
	}
	
	.icon {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 44px;
		height: 44px;
		text-align: center;
		background-color: $c-instagram;
		
		svg {
			position: relative;
			top: 50%;
			display: inline-block;
			width: 24px;
			height: 24px;
			fill: $c-light;
			@include transform(translateY(-50%));
			@include backface-visibility(hidden);
		}
	}
}