[data-type=video] {
	@media only screen and (max-width: 768px) {
		width: 50%;
		@media only screen and (orientation: landscape) {
			width:100%;
		}
	}
	
	@media only screen and (max-width: 666px) {
		width: 100%;
	}
	
	@media only screen and (max-width: 640px) {
		height: 331px;
	}
	
	.media__content {
		top: 42.5%;
		height: calc(100% - 110px);
		background-color: rgba($c-light,.6);
		padding: 3.9rem 4.2rem;
		




		p {
			margin: 0;
			font-size: 2.4rem;
			
			@media only screen and (max-width: 880px) {
				font-size: 18px;
			}
			
			&:first-child {
				font-weight: 500;
				font-size: 1.4rem;
				text-transform: uppercase;
				@include giveColorFor(color);
				margin-bottom: 3px;
			}
		}
	}
	
	&:before,
	&:after {
		position: absolute;
		display: block;
		content: '';
		left: 50%;
		z-index: 1;
		top: 28.3%;
		width: 7.4rem;
		margin-left: 1.5rem;
		@include transform(translateX(-50%));
		@include backface-visibility(hidden);
		@media only screen and (max-width: 640px) {
			width: 50px;
			top: 34%;
			margin-left:0;
		}
		@media only screen and (orientation: landscape) {
			@media only screen and (max-width: 668px) {
				top:31.4%;
			}
		}
	}
	
	&:before {
		height: 3.7rem;
		background-color: rgba($c-light,.6);
		border-radius: 7.4rem 7.4rem 0 0;
		
		@media only screen and (max-width: 640px) {
			height: 28px;
		}
	}
	
	&:after {
		height: 7.4rem;
		border-radius: 50%;
		border: 3px solid;
		@include giveColorFor(border-color);
		background-repeat: no-repeat;
		background-position: 58% center;

		@include giveSvgSource(play);
		background-size: 24px 27px;
		
		@media only screen and (max-width: 640px) {
			height: 50px;
			background-size: 15px 17px;
			background-position: center center;			
		}

		

	}
}

[data-type=video-large] {
	&:before,
	&:after {
		position: absolute;
		bottom: 0;
		right: 0;
		display: block;
		content: '';
	}
	
	&:before {
		z-index: 1;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		@include giveColorFor(background-color);
		border: 2px solid $c-light;
		bottom: 11px;
		right: 9px;
		background-image: url(../img/icon-video.png);
		background-repeat: no-repeat;
		background-position: 6px 4px;
	}
	
	&:after {
		width: 43px;
		height: 43px;
		@include giveColorFor(background-color);
	}
	
	.media__item__inner {
		@include clearfix();
		background-color: rgb(244,245,248);
	}
	
	.media__visual,
	.media__content {
		float: left;
		width: 50%;
	}
	
	@media only screen and (max-width: 640px) {
		.media__visual {
			width: auto;
			float:none;
			height:0;
			padding-top:50%;
		}
		
		.media__content {
			width: auto;
			float:none;
			position:relative;
			top:auto;
			.media__content__wrapper{
				padding-top:20px;
				padding-bottom:20px;
				top:auto;
				@include transform(translateY(0%));

			}
		}
	}
	
	.media__content__wrapper {
		position: relative;
		top: 50%;
		@include transform(translateY(-50%));
	}
	
	.media__content {
		position: relative;
		height: inherit;
		padding: 0 3.3rem;
		
		@media only screen and (max-width: 840px) {
			padding: 0 20px;
		}
		
		p {
			margin: 0;
			font-size: 2.4rem;
			
			@media only screen and (max-width: 880px) {
				font-size: 18px;
			}
			
			&:first-child {
				font-weight: 500;
				font-size: 1.4rem;
				text-transform: uppercase;
				@include giveColorFor(color);
				margin-bottom: 3px;
			}
		}
	}
}