.news {
	background-color: $c-tert;
	margin-top: 3rem;
	
	&__inner {
		@include clearfix();
		padding: 4%;
	}
	
	&__item {
		@include clearfix();
		float: left;
		display: block;
		width: 57.5%;
		text-decoration: none;
		background-color: $c-light;
		overflow: hidden;
		
		@media only screen and (max-width: 720px) {
			width: 100%;
		}
		
		&:not(:last-child) {
			margin-bottom: 2%;
		}
		
		&__image,
		&__content {
			float: left;
		}
		
		&__image {
			position: relative;
			width: 40%;
			padding-top: 30.7%;
			overflow: hidden;
			
			div {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				@include transition(all 1s ease);
				@include backface-visibility(hidden);
			}
		}
		
		&:hover .news__item__image div {
			@include transform(scale(1.05));
		}
		
		&__content { 
			position: relative;
			width: 60%;
			padding: 3rem 3rem;
			min-height: 180px;
			//border-bottom: 6px solid rgb(235,235,235);
			
			@media only screen and (max-width: 1120px) {
				min-height: 169px;
			}
			
			@media only screen and (max-width: 1060px) {
				min-height: 160px;
			}
			
			@media only screen and (max-width: 980px) {
				min-height: 148px;
			}
			
			@media only screen and (max-width: 910px) {
				min-height: 136px;
			}
			
			@media only screen and (max-width: 850px) {
				min-height: 119px;
				padding: 2rem 3rem;
			}
			
			@media only screen and (max-width: 770px) {
				min-height: 118px;
			}
			
			@media only screen and (max-width: 720px) {
				border-width: 0;
			}
			
			svg {
				position: absolute;
				bottom: 15px;
				right: 12px;
				width: 14px;
				height: 14px;
				fill: $c-dark;
			}
		}
		
		p {
			margin: 0;
			color: rgb(54,56,57);
			font-size: 2.5rem;
			line-height: 2.9rem;
			
			@media only screen and (max-width: 980px) {
				font-size: 20px;
				line-height: 24px;
			}
			
			@media only screen and (max-width: 850px) {
				font-size: 18px;
				line-height: 22px;
			}
			
			&.news__item__title {
				@include giveColorFor(color);
				text-transform: uppercase;
				font-weight: 500;
				font-size: 1.5rem;
				line-height: 1.3rem;
				margin-bottom: 8px;
			} 	
		}
	}
	
	&__item--large {
		width: 40%;
		margin-bottom: 0 !important;
		margin-right: 2%;
		
		.news__item__image {
			padding-top: 49.5%;
			width: 100%;
		}
		
		.news__item__content {
			width: 100%;
		}
		
		@media only screen and (max-width: 720px) {
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px !important;
		}
	}

	&__item{
		@media only screen and (max-width: 720px) {

			width: 100%;
			margin-right: 0;
			margin-bottom:0;
			&:not(:last-child){
				margin-bottom: 12px !important;

			}
			.news__item__image {
				padding-top: 49.5%;
				width: 100%;
			}
			
			.news__item__content {
				width: 100%;
			}
		}
	}
}