.order {
	position: relative;
	
	svg {
		position: relative;
		top: 10px;
		float: right;
		fill: $c-light;
		width: 14px;
		height: 14px;
		@include transition(all .2s ease);
	}
	
	.trigger {
		display: block;
		background-color: rgb(35,31,32);
		color: $c-light;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 700;
		line-height: 2;
		margin-right: 17px;
		padding: 0 12px;
		cursor: pointer;
	}
	
	.options {
		position: absolute;
		top: 100%;
		left: 0;
		width: 240px;
		display:none;
		
		.subtrigger {
			display: block;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 500;
			line-height: 2.5;
			padding: 0 12px;
			text-decoration: none;
			color: $c-light;
			cursor: pointer;
			@include clearfix();
			
			/*
			&:not(:last-child) {
				margin-bottom: 1px;
			}
			*/
			
			&.business {
				background-color: rgb(35,31,32);
			}
			
			&.private {
				@include giveColorFor(background-color);
			}
			
			&.open svg {
				@include transform(rotate(90deg));
			}
		}
		
		.bestelbox {
			position: absolute;
			z-index: 1;
			top: 100%;
			left: 0;
			width: 240px;
			display:none;
			a {
				display: block;
				font-size: 14px;
				color: $c-light;
				padding: 0 12px;
				line-height: 2.5;
				text-decoration: none;
				background-color: rgb(77,77,77);
				
				/*
				&:not(:last-child) {
					margin-bottom: 1px;
				}
				*/
			}
			
			.loginyes svg {
				fill: rgb(0,194,23);
			}
			
			.loginno svg {
				fill: rgb(255,0,36);
			}
		}
	}
	
	// alternative layout (eg product-detail)
	&--large {
		width: 100%;
		max-width: 535px;
		margin-bottom: 40px;
		
		.trigger {
			display: none;
		}
		
		.options {
			@include clearfix();
			width: 100%;
			
			.subtrigger {
				float: right;
				width: 100%;
				max-width: 240px;
				font-size: 16px;
				font-weight: 700;
				
				svg {
					top: 14px;
				}
				
				&.business {
					margin-right: 55px;
				}
			}
		}
	}
}