.personenwrapper {
	@include rem(margin, 5rem 0);
	
	.personen {
		@include clearfix();
		@include rem(margin-left, -34px);
		
		.persoon {
			float: left;
			width: 25%;
			text-align: center;
			min-height: 380px;
			@include rem(margin-bottom, 34px);
			@include rem(padding-left, 34px);
			@include rem(font-size, 19px);
			
			@media only screen and (max-width: 940px) {
				width: 33.33%;
				min-height: 330px;
				font-size: 17px;
			}
			
			@media only screen and (max-width: 768px) {
				min-height: 300px;
			}
			
			@media only screen and (max-width: 666px) {
				width: 50%;
				min-height: 280px;
			}
			
			@media only screen and (max-width: 430px) {
				width: 100%;
			}
			
			&__inner {
				position: relative;
			}
			
			&__image {
				position: relative;
				background-repeat: no-repeat;
				background-position: top center;
				background-size: cover;
				padding-bottom: 75%;
				@include rem(margin-bottom, 20px);
				
				@media only screen and (max-width: 940px) {
					margin-bottom: 10px;
				}
			}
			
			&__email {
				position: absolute;
				bottom: 0;
				right: 0;
				display: block;
				width: 34px;
				height: 34px;
				@include giveColorFor(background-color);
				text-align: center;
				
				svg {
					position: relative;
					display: blockblock;
					top: 49%;
					@include transform(translateY(-50%));
				}
			}
			
			p {
				margin: 0;
							
				&.persoon__title {
					@include giveColorFor(color);
					text-transform: uppercase;
					font-weight: 500;
					@include rem(font-size, 11px);
					@include rem(line-height, 19px);
				}
			
				&.persoon__quote {
					font-style: italic;
					color: rgb(151,151,151);
					@include rem(font-size, 14px);
					@include rem(line-height, 18px);
					@include rem(margin, 30px auto 0);
					@include rem(max-width, 204px);
					
					@media only screen and (max-width: 940px) {
						font-size: 12px;
						margin-top: 20px;
					}
					
					&:before,
					&:after {
						display: inline-block;
						content: "'";
					}
				}
			}
		}
	}
}