.persberichten {
	@include clearfix();
	@include rem(margin-left, -29px);
	
	&__item {
		float: left;
		width: 50%;
		display: block;
		color: inherit;
		text-decoration: none;
		margin-bottom: 29px;
		@include rem(height, 138px);
		@include rem(padding-left, 29px);
		@media only screen and (max-width: 675px) {
			float:none;
			width:auto;
			height:auto;
		}
	}
	
	&__item__inner {
		@include clearfix();
		border: 1px solid rgb(237,239,243);
		height: inherit;
		
		&:hover {
			@include giveColorFor(border-color);
			
			.persberichten__item__media div {
				@include transform(scale(1.05) rotate(0.02deg)); 
			}
		}

		svg{
			height: 12px;

			path{
				@include giveColorFor(fill);
			}
		}
		
		.persberichten__item__media,
		.persberichten__item__content {
			float: left;
			height: inherit;
			@media only screen and (max-width: 675px) {
				float:none;
				width:auto;
			}
		}
		
		.persberichten__item__media {
			position: relative;
			width: 25%;
			height: 135.5px;
			overflow: hidden;
			@media only screen and (max-width: 675px) {
				float:none;
				width:auto;

				height:165px;
			}
			div {
				position: absolute;
				width: 100%;
				height: 100%; 
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				@include transition(transform 1s ease);
		
				//remove unwanted shake on hover
				-webkit-backface-visibility: hidden;
				@include transform(translateZ(0) scale(1.0, 1.0));
			}
		}
		
		.persberichten__item__content {
			position: relative;
			width: 75%;
			@include rem(padding, 28px);
			@include rem(font-size, 19px);
			
			svg {
				position: absolute;
				bottom: 15px;
				right: 15px;
			}
			
			p {
				margin: 0;
				
				&.persberichten__item__content__header {
					font-weight: 500;
					text-transform: uppercase;
					@include rem(margin-bottom, 4px);
					@include rem(font-size, 15px);
					@include rem(line-height, 19px);
					
					.date {
						@include giveColorFor(color);
						@include rem(margin-right, 8px);
					}
					
					.category {
						color: rgb(168,168,168);
					}
				}
			}
		}
	}
}