.portals {
	.portal {
		display: block;
		text-decoration: none;
		overflow: hidden;
		
		&__inner {
			background-color: $c-light;
		}
		
		&__image {
			position: relative;
			height: 200px;
			overflow: hidden;
			
			div {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-size: cover;
				overflow: hidden;
				@include transition(transform 1s ease);
				@include backface-visibility(hidden);
			}
		}
		
		&:hover .portal__image div {
			@include transform(scale(1.05));
		}
		
		&__content {
			@include clearfix();
			font-style: italic;
			color: $c-dark;
			@include rem(font-size, 16px);		
			@include rem(padding, 25px 16px);
			
			svg {
				float: right;
				display: inline-block;
				width: 14px;
				height: 14px;
				margin-top: 3px;
			}
			
			@media only screen and (max-width: 1061px) {
				font-size: 14px;
				
				svg {
					width: 11px;
					height: 11px;
				}
			}
		}
	}
}
