.producten {
	@include rem(margin, 70px 0);
	position:relative;
	
	@media only screen and (max-width: 530px) {
		margin: 0;
	}

	&.pending{
		&:before{
			content:"";
			background-color:rgba(255,255,255,0.6);
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			display:block;
			z-index:2;
		}
	}

	.title {
		font-weight: 500;
		text-transform: uppercase;
		@include rem(font-size, 14px);
	}
	
	&__header {
		@include rem(margin-bottom, 30px);
		
		@media only screen and (max-width: 530px) {
			display: none;
		}
		
		.total {
			@include giveColorFor(color);
			@include rem(font-size, 24px);
			@include rem(line-height, 20px);
			min-height:1px;
			display:block;
			
			
			@media only screen and (max-width: 700px) {
				font-size: 20px;
			}
			>span{
				opacity: 0;
				&.loaded{
					opacity:1;
				}	
			}
			
		}
		
		.selectwrapper {
			width: 100%;
			max-width: 178px;
			height: 34px;
			display: inline-block;
			margin-top: -4px;
			
			@media only screen and (max-width: 700px) {
				width: 180px;
			}			
		}
		
		@media only screen and (max-width: 700px) {
			.row {
				.col-25 {
					padding-left: 0;
					padding-right: 15px;
					width: 50%;
					
					&:first-child {
						display: none;
					}
				}
				
				.col-50 {
					width: 50%;
				}
			}
		}
	}

	&__headermobile{
		text-align: center;
		.btn{
			text-align: center;
		}
	}
	
	.producten__content {
		@media only screen and (max-width: 700px) {
			.row {
				.col-25 {
					display: none;
				}
				
				.col-75 {
					width: 100%;
				}
			}
		}
	}
	
	.productenwrapper {
		@include clearfix();
		@include rem(margin-left, -32px);
		@include rem(margin-top, 15px);
		
		.product {
			position: relative;
			float: left;
			padding-left: 32px;
			width: 25%;
			color: inherit;
			text-decoration: none;
			display: block;
			height: 270px;
			font-size: 17px;
			@include rem(margin-bottom, 16px);
			@include rem(padding-bottom, 16px);
			
			@media only screen and (max-width: 970px) {
				font-size: 14px;
				height: 200px;
			}
			
			@media only screen and (max-width: 880px) {
				width: 33.33%;
			}
			
			@media only screen and (max-width: 670px) {
				width: 50%;
				height: auto;
			}
			
			@media only screen and (max-width: 490px) {
				width: 100%;
			}
			
			&:after {
				position: absolute;
				bottom: 12px;
				right: 12px;
				width: 8px;
				height: 15px;
				display: block;
				content: '';
				@include giveSvgSource(chevron-right);
				background-repeat: no-repeat;
				background-size: cover;
				opacity: 0;
			}
			
			&__media {
				background-repeat: no-repeat;
				background-position: center;
				background-size: 100% auto;
				padding-bottom: 100%;
				@include rem(margin-bottom, 6px);
				
				@media only screen and (max-width: 768px) {
					background-size: 70% auto;
				}
				
				@media only screen and (max-width: 666px) {
					background-size: 50% auto;
					padding-bottom: 50%;
				}
			}
			
			&__content {
				@include rem(padding, 0 10px);
				@include rem(padding-right,22px);
				
				@media only screen and (max-width: 700px) {
					text-align: center;
				}
			}
			
			&__category {
				@include giveColorFor(color);
				font-weight: 500;
				text-transform: uppercase;
				margin: 0;
				margin-bottom: 2px;
				@include rem(font-size, 11px);
			}
			
			&__inner {
				border: 1px solid rgba($c-pri, 0);
				height: inherit;
			}
			
			&:hover {
				&:after {
					opacity: 1;
				}
				
				.product__inner {
					@include giveColorFor(border-color);
				}
			}
		}
	}
}



.products {
	text-align: center;
	
	.product {
		vertical-align: top;
		display: inline-block;
		color: inherit;
		text-decoration: none;
		text-align: left;
		width: 100%;
		margin-top:10px;
		@include rem(max-width, 200px);
		
		
		&:not(:last-child) {
			@include rem(margin-right, 10px);
		}
		
		&__visual {
			position: relative;
			
			max-width:180px;
			margin-left:auto;
			margin-right:auto;
			@include rem(margin-bottom, 10px);
			
			img {
				
			}
		}
		
		p {
			margin: 0;
			@include rem(font-size, 19px);
			
			&.product__subtitle {
				@include giveColorFor(color);
				font-weight: 500;
				@include rem(font-size, 11px);
			}
		}
	}
}