hr {
	width: 100%;
	height: 1px;
	border: 0;
	background-color: rgb(233,232,232);
	@include rem(margin, 30px 0);
}

.pd {
	@include rem(margin-top, 80px);
	@media only screen and (max-width: 675px) {
		margin-top:0;
	}
	
	&__intro {
		position: relative;
		max-width: 549px;
		min-height: 384px;
		@media only screen and (max-width: 675px) {
			min-height:1px;
		}

		
		@media only screen and (max-width: 675px) {
			max-width: 100%;
		}
		
		.btn--readmore {
			@include rem(margin, 30px 0 );
		}
		
		&__footer {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			@media only screen and (max-width: 675px) {
				position:relative;
				overflow: hidden;
				margin-top:30px;
			}

			@media only screen and (max-width: 675px) {
				.order{
					margin-bottom:10px;


					.options{
						position:relative;
						.subtrigger{
							float:none;
						}
						.bestelbox{
							position:relative;

						}
					}
				}
			}


		}

		h4{
			margin-bottom:15px;
		}
	}
	.cms-content{
		&.is-mobile{
			margin-bottom:10px;
		}
	}
	.share {
		text-align: left;
		padding-bottom: 0;
		padding-top: 30px;
		
		@media only screen and (max-width: 675px) {
			text-align: center;
		}
	}
	
	#moreinfo {
		@media only screen and (max-width: 675px) {
			padding-top:15px;
		}
		.map {
			height: 400px;
			margin-top: 19px;
		}
		
		@media only screen and (max-width: 675px) {
			margin-top: -30px;
		}
		
		.cms-content {
			max-width: 549px;
			
			@media only screen and (max-width: 675px) {
				margin-top: 30px;
				max-width: 100%;
			}
		}
		h2{
			text-transform: uppercase;
			font-size:18px;
		}
	}
	
	//slider
	&__slider {
		margin-right: 15px;
		
		@media only screen and (max-width: 675px) {
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 30px;
			width: 90%;
		}
		
		.slider {
			//height: 400px;			
			border: 1px solid rgb(237,239,243);
			margin: 3px 0 20px;
			
			@media only screen and (max-width: 900px) {
				//height: 336px;
			}
			
			@media only screen and (max-width: 675px) {
				height: auto;
			}
			
			.owl-stage-outer,
			.owl-stage,
			.owl-item,
			.slide {
				height: inherit;
			}
			.slide{
				padding-top:0;
				height:auto;
			}
			img{
				position:relative;
				top:auto;
				left:auto;
				@include transform(translateY(0));

			}
			.owl-item img {
				position: relative;
				//top: 50%;
				@include transform(translateY(0%));
				
				@media only screen and (min-width: 676px) {
					width: auto;
					max-width: 100%;
					margin-right: auto;
					margin-left: auto;
				}
			}
		
			.owl-prev,
			.owl-next {
				background-image: url(../img/next.svg);
				border: 0;
				width: 17px;
				height: 14px;
			}
		
			.owl-prev {
				left: -22px;
				margin-top: -26px;
				@include transform(rotate(180deg));
			}
		
			.owl-next {
				right: -22px;
			}
			
			.slide {
				@media only screen and (max-width: 675px) {
					text-align: center;
				}
			}
		}
		
		.thumbs {
			@include clearfix();
			
			&__item {
				position: relative;
				@include appearance(none);
				display: block;
				float: left;
				width: 64px;
				height: 64px;
				border: 1px solid rgb(237,239,243);
				padding: 0;
				background-color: rgba(0,0,0,0);
				outline: none;
				
				&:not(:last-child) {
					margin-right: 5px;
				}
				
				&.active {
					@include giveColorFor(border-color);
				}
				
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	
	.row .col {
		@media only screen and (max-width: 675px) {
			width: 100% !important;
		}
	}
}