.quotes {
	@extend .wrap;
	//margin-top: 6rem;
	margin-top: 15rem;
	padding-bottom: 0; //remove whitespace underneath
	
	@media only screen and (max-width: 669px) {
		display: none;
	}
	

	
	&__inner {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		padding: 4%;
		
		@media only screen and (max-width: 975px) {
			padding: 3%;
		}
	}
	
	&__wrapper {
		@include clearfix();
		margin-left: -6.4rem;
		
		.quote {
			float: left;
			width: 50%;
			padding-left: 6.4rem;
			font-size: 1.3rem;
			line-height: 1.4;
			font-style: italic;
			font-weight: 300;
			@media only screen and (max-width: 1152px) {
				@media only screen and (min-width: 1015px) {
					line-height:1.3;
				}

			}
			@media only screen and (max-width: 1110px) {
				font-size: 12px;
				line-height: 1.5;
			}
			
			@media only screen and (max-width: 768px) {
				width: 100%;
				
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
			
			&__inner {
				@include clearfix();
				position: relative;
				background-color: rgba($c-light,.9);
				padding: 3.1rem;
				
				@media only screen and (max-width: 900px) {
					padding: 20px;
				}
				
				@media only screen and (max-width: 880px) {
					min-height: 206px;
				}
				
				.quote__image,
				.quote__content {
					float: left;
				}
				
				.quote__image {
					position: relative;
					width: 35%;
					padding-top: 42%;
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					
					&:before {
						position: absolute;
						top: -13px;
						right: -10px;
						width: 17px;
						height: 25px;
						display: block;
						content: '';
						@include giveSvgSource(quote);
					}
				}
				
				.quote__content {
					width: 65%;
					padding-left: 3.3rem;
					@media only screen and (max-width: 1040px) {
						padding-left: 15px;
					}
					@media only screen and (max-width: 900px) {
						padding-left: 24px;
					}

					p {
						margin: 0;

						@media only screen and (max-width: 900px) {
							line-height:1.2em;

						}


					}
					
					
				}
				
				.quote__footer {
					position: absolute;
					bottom: 2.5rem;
					font-style: normal;
					@media only screen and (max-width: 1040px) and (min-width:768px) {
						margin-top:10px;
						position:relative;
						bottom:auto;
					}
					
					p {
						font-size: 1.2rem;
						font-weight: 500;
						line-height: 1.3;
						
						&:first-child {
							font-size: 1.5rem;
							text-transform: uppercase;
							@include giveColorFor(color);
							
							@media only screen and (max-width: 1110px) {
								font-size: 14px;
							}
						}
					}
				}
			}
		}
		
		@media only screen and (max-width: 920px) {
			margin-left: -30px;
			
			.quote {
				padding-left: 30px;
			}
		}
	}
}