.seasons {
	@include clearfix();
	width: 90%;
	max-width: 973px;
	margin-right: auto;
	margin-left: auto;
	
	@media only screen and (max-width: 768px) { 
		width: 100%;
	}
	
	@media only screen and (max-width: 500px) {
		margin-bottom: 30px;
	}
	
	&.slider {
		margin-top: 0;
		max-height: none;
		
		.owl-dots {
			margin-top: 30px;
		}
		
		.owl-prev,
		.owl-next {
			top: 98%;
		}
		
		.owl-prev {
			left: 0;
		}
	}
	
	.season {
		@include clearfix();
		position: relative;
		color: $c-light;
		height: 243px;
		
		@media only screen and (min-width: 501px) {
			&:before {
				position: absolute;
				z-index: 1;
				top: 50%;
				left: 50%;
				margin-left: -12px;
				display: block;
				content: '';
				width: 25px;
				height: 25px;
				@include transform(translateY(-50%) rotate(45deg));
			}
		}
		
		@media only screen and (max-width: 500px) {
			height: auto;
		}
		
		a {
			color: inherit;
		}
		&__anchor{
			position:relative;
			top:-120px;
		}
		
		&__image,
		&__content {
			float: left;
			width: 50%;
			height: inherit;
			
			@media only screen and (max-width: 500px) {
				width: 100%;
			}
		}
		
		&__image {
			position: relative;
			padding-bottom: 25%;
			overflow: hidden;
			
			@media only screen and (max-width: 500px) {
				padding-bottom: 60%;
			}
			
			div {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 55% auto;
				@include transition(all 1s ease);
				
				@media only screen and (max-width: 500px) {
					background-size: 90% auto;
				}
			}
		}
		
		&:hover .season__image div {
			@include transform(scale(1.05) rotate(0.02deg));
		}
		
		&__content {
			&__inner {
				position: relative;
				padding: 25px;
				height: inherit;
				
				@media only screen and (max-width: 768px) {
					padding: 20px;
				}
				
				p {
					margin: 0;
					font-size: 14px;
					line-height: 24px;
					
					&.season__title {
						font-size: 24px;
						line-height: 24px;
						margin-bottom: 24px;
						
						@media only screen and (max-width: 768px) {
							font-size: 18px;
							line-height: 20px;
							margin-bottom: 18px;
						}
					}
				}
				
				.season__btn {
					@include clearfix();					
					text-transform: uppercase;
					text-decoration: none;
					display: inline-block;
					font-size: 14px;
					line-height: 36px;
					padding: 0 17px;
					border-radius: 3px;
					width: 100%;
					max-width: 184px;
					margin-top: 15px;
					
					@media only screen and (min-width: 501px) {
						position: absolute;
						left: 25px;
						bottom: 25px;
					}
					
					svg {
						float: right;
						fill: $c-light;
						display: inline-block;
						width: 14px;
						height: 14px;
						margin-top: 10px;
						margin-right: -7px;
					}
					
					&:hover {
						background-color: $c-dark !important;
					}
				}
			}
		}
		
		&:nth-child(even) .season__image {
			float: right;
		}
		
		&.Winter {
			.season__content {
				background-color: $c-winter;
			
				.season__btn {
					background-color: rgb(126,0,65);
				}
			}
			
			&:before {
				background-color: $c-winter;
			}
		}
		
		&.Lente {
			.season__content {
				background-color: $c-spring;
			
				.season__btn {
					background-color: rgb(170,1,49);
				}
			}
			
			&:before {
				background-color: $c-spring;
			}
		}
		
		&.Voorzomer {
			.season__content {
				background-color: $c-presummer;
			
				.season__btn {
					background-color: rgb(65,132,24);
				}
			}
			
			&:before {
				background-color: $c-presummer;
			}
		}
		
		&.Zomer {
			.season__content {
				background-color: $c-summer;
			
				.season__btn {
					background-color: rgb(185,84,1);
				}
			}
			
			&:before {
				background-color: $c-summer;
			}
		}
		
		&.Herfst {
			.season__content {
				background-color: $c-autumn;
			
				.season__btn {
					background-color: rgb(96,23,12);
				}
			}
			
			&:before {
				background-color: $c-autumn;
			}
		}
	}
}