.share {
	text-align: center;
	//padding: 5rem 0;
	padding: 3rem 0;
	
	a {
		display: inline-block;
		width: 3.5rem;
		height: 3.5rem;
		border-radius: 50%;
		text-align: center;
		vertical-align: top;
		
		&:not(:last-child) {
			margin-right: 1.2rem;
		}
				
		svg {
			position: relative;
			display: inline-block;
			top: 50%;
			fill: $c-light;
			@include transform(translateY(-50%));
			
			path {
				fill: $c-light;
			}
		}
		
		&.instagram {
			background-color: $c-instagram;
			
			svg {
				width: 19px;
				height: 19px;
			}
		}
		
		&.facebook {
			background-color: $c-facebook;
			
			svg {
				width: 16px;
				height: 19px;
			}
		}
		
		&.linkedin {
			background-color: $c-linkedin;
			
			svg {
				width: 19px;
				height: 17px;
			}
		}
		
		&.twitter {
			background-color: $c-twitter;
			
			svg {
				width: 19px;
				height: 19px;
			}
		}
		
		&.pinterest {
			background-color: $c-pinterest;
			
			svg {
				width: 19px;
				height: 19px;
			}
		}
	}
}