.tabswrapper {
	@include clearfix();
	position: relative;
	margin-top: 30px;
	
	@media only screen and (max-width: 620px) {
		margin-top: 20px;
	}
	
	[type=radio] {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
	}
	
	label {
		display: block;
		float: left;
		width: 19%;
		text-align: center;
		color: $c-light;
		font-size: 15px;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 50px;
		border-radius: 5px 5px 0 0;
		cursor: pointer;
		margin-bottom: -2px;
		@include transition(all .2s ease);
		@include transform(translateZ(0));
		-webkit-backface-visibility: hidden;
		
		&:not(:last-child) {
			margin-right: 5px;
		}
		
		@media only screen and (max-width: 768px) {
			font-size: 14px;
		}
		
		@media only screen and (max-width: 620px) {
			display: none;
		}
	}
	
	label:hover,
	[type=radio]:checked + label {
		font-size: 18px;
		line-height: 60px;
		margin-top: -10px;
		
		@media only screen and (max-width: 768px) {
			font-size: 16px;
			line-height: 55px;
			margin-top: -5px;
		}
		
		@media only screen and (max-width: 620px) {
			margin-top: 0;
			padding-top: 5px;
			line-height: 2;
		}
	}
	
	.tab__content {
		@include clearfix();
		float: left;
		color: $c-light;
		width: 100%;
		padding: 5%;
		position:relative;
		//hide all tabs
		display: none;
		
		.tab__title {
			font-size: 2.4rem;
			line-height: 2.4rem;
			margin: 0;
			
			@media only screen and (max-width: 620px) {
				font-size: 18px;
			}
		}
		
		.btn {
			display: block;
			width: 100%;
			
			&:not(:first-child) {
				margin-top: 1.6rem;
			}
			
			@media only screen and (max-width: 1129px) {
				font-size: 13px;
			}
			
			@media only screen and (max-width: 1027px) {
				font-size: 12px;
			}
			
			@media only screen and (max-width: 980px) {
				max-width: 212px;
			}
			
			@media only screen and (max-width: 640px) {
				max-width: none;
			}
		}
		
		&__text,
		.portals {
			float: left;
		}
		
		&__text {
			position: relative;
			width: 25%;
			padding-right: 15px;
			min-height: 270px;
			
			.buttons {
				@media only screen and (min-width: 621px) {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
				}
			}
			
			@media only screen and (max-width: 980px) {
				width: 100%;
				padding-right: 20%;
			}
			
			@media only screen and (max-width: 640px) {
				padding-right: 0;
				text-align: center;
			}
		}
		
		.portals {
			@include clearfix();
			width: 75%;
			
			.portal {
				float: left;
				width: 30%;
				margin-left: 3%;
			}
			
			@media only screen and (max-width: 980px) {
				width: 100%;
				margin-top: 40px;
				
				.portal {
					margin-left: 0;
					width: 30.5%;
					
					&:not(:last-child) {
						margin-right: 3.3%;
					}
				}
			}
			
			@media only screen and (max-width: 715px) {
				.portal {
					width: 100%;
					margin-right: 0 !important;
					
					&:not(:last-child) {
						margin-bottom: 15px;
					}
				}
			}
		}
	}
	
	.btn.is-mobile {
		@media only screen and (min-width: 621px) {
			display: none;
		}
	}
	
	#winter:checked ~ #tab-winter,
	#spring:checked ~ #tab-spring,
	#presummer:checked ~ #tab-presummer,
	#summer:checked ~ #tab-summer,
	#autumn:checked ~ #tab-autumn {
		display: block;
	}
	$darkenPerc : 10%;
	#tab-winter .btn--pri {	html &{ background-color: darken($c-winter,$darkenPerc); } }
	#tab-spring .btn--pri {	html &{ background-color: darken($c-spring,$darkenPerc); } }
	#tab-presummer .btn--pri {	html &{ background-color: darken($c-presummer,$darkenPerc); } }
	#tab-summer .btn--pri {	html &{ background-color: darken($c-summer,$darkenPerc); } }
	#tab-autumn .btn--pri {	html &{ background-color: darken($c-autumn,$darkenPerc); } }
}