$bg-timeline: rgb(244,245,248);


.timeline {
	background-color: $bg-timeline;
	width: 100%;
	max-width: 976px;
	margin-right: auto;
	margin-left: auto;
	
	@media only screen and (max-width: 560px) {
		margin-bottom: 38px;
		margin-left:-20px;
		margin-right:-20px;
		width:auto;
	}
	
	&__inner {
		@include clearfix();
		position: relative;
		padding: 31px 64px 100px;
		
		@media only screen and (max-width: 601px) {
			padding: 12px 11% 50px;
		}
		
		@media only screen and (max-width: 560px) {
			padding: 12px 20px 50px;
		}
		
		.line {
			position: absolute;
			top: 44px;
			left: 0;			
			width: 6px;
			bottom:100px;
			
			@include giveColorFor(background-color);
			
			@media only screen and (min-width: 921px) {
				right: 0;
				margin: auto;
			}
			
			@media only screen and (max-width: 920px) {
				left: 50px;	
				max-height: 1300px;
			}
			
			@media only screen and (max-width: 676px) {
				width: 3px;
				left: 40px;
			}
			
			@media only screen and (max-width: 601px) {
				max-height: 960px;
				display:none;
			}
			
			@media only screen and (max-width: 560px) {
				left: 26px;
				max-height: 820px;
			}
			
			@media only screen and (max-width: 500px) {
				max-height: 76%;
			}
			
			@media only screen and (max-width: 415px) {
				max-height: 74%;
			}
			
			@media only screen and (max-width: 369px) {
				max-height: 76%;
			}
			
			&__label {
				display: block;
				text-align: center;
				border: 7px solid $bg-timeline;
				position:relative;


				
				@media only screen and (max-width: 560px) {
					border-width: 5px;
				}			
				
				span {
					margin-left:auto;
					margin-right:auto;
					display: block;

					width: 93px;
					height: 40px;
					@include giveColorFor(background-color);
					text-align: center;
					color: $c-light;
					font-size: 20px;
			 		font-weight: 500;
			 		line-height: 2;
			 		border-radius: 3px;
			 		
			 		@media only screen and (max-width: 920px) {
			 			font-size: 16px;
			 			width: 70px;
			 			height: 30px;
			 		}
			 		
			 		@media only screen and (max-width: 676px) {
			 			font-size: 14px;
			 			width: 50px;
			 			height: 27px;
			 		}
			 		
			 		@media only screen and (max-width: 560px) {
			 			font-size: 12px;
			 			width: 40px;
			 			height: 23px;
			 		}
				}
				
				&:not(:first-child) {
					margin-top:30px;
				}

				&.line__label0{
					margin-top:0;
				}
			}
		}
	}
	
	&__item {
		@include clearfix();
		position: relative;
		overflow:hidden;
		margin-top: 50px;
		&:last-child{
			background-color:$bg-timeline;
		}
		@media only screen and (max-width: 920px) {
			width: 100%;

			//float: left;
			margin-left: 7%;
			margin-top: 90px;
		}
		
		@media only screen and (max-width: 676px) {
			margin-left: 4%;
		}
		
		@media only screen and (max-width: 601px) {
			margin-top: 60px;
		}
		
		@media only screen and (max-width: 560px) {
			width: 100%;
			margin-left: 0;
			margin-top: 26px;
		}
		
		&:before,
		&:after {
			position: absolute;
			left: 50%;
			@include transform(translateX(-50%));
			display: block;
			content: '';
			border-radius: 50%;
			background-color: $bg-timeline;	
			
			@media only screen and (max-width: 920px) {
				left: -8.5%;
			}
			
			@media only screen and (max-width: 830px) {
				left: -8.7%;
			}
			
			@media only screen and (max-width: 676px) {
				left: -8.5%;
			}
			
			@media only screen and (max-width: 601px) {
				left: -8.6%;
			}
			
			@media only screen and (max-width: 560px) {
				left: -9.3%;
			}
			
			@media only screen and (max-width: 474px) {
				left: -9%;
			}
			
			@media only screen and (max-width: 369px) {
				left: -8%;
			}
		}
		
		&:before {
			top: 0;				
			width: 43px;
			height: 43px;
			
			@media only screen and (max-width: 920px) {
				width: 38px;
				height: 38px;
			}
			
			@media only screen and (max-width: 601px) {
				width: 30px;
				height: 30px;
				top: 8px;
			}
			
			@media only screen and (max-width: 369px) {
				width: 20px;
				height: 20px;
			}			
		}
		
		&:after {
			top: 4px;
			width: 35px;
			height: 35px;
			visibility: visible;
			border: 5px solid;
			@include giveColorFor(border-color);
			
			@media only screen and (max-width: 920px) {
				width: 30px;
				height: 30px;
				border-width: 3px;
			}
			
			@media only screen and (max-width: 601px) {
				width: 22px;
				height: 22px;
				top: 12px;
			}
			
			@media only screen and (max-width: 369px) {
				width: 12px;
				height: 12px;
				border-width: 2px;
			}
		}
		
		&__date-and-image {
			@media only screen and (max-width: 920px) {
				//float: left;

			}
				
			.date {
				position: relative;
				z-index: 1;
				display: inline-block;
				@include giveColorFor(color);
				background-color: $c-light;
				font-size: 16px;
				font-weight: 500;
				line-height: 44px;
				margin-bottom: 23px;
				padding: 0 15px;
				
				&:before {
					position: absolute;
					z-index: -1;
					top: 50%;
					width: 15px;
					height: 15px;
					background-color: $c-light;
					display: block;
					content: '';
					@include transform(translateY(-50%) rotate(45deg));
					
					@media only screen and (max-width: 920px) {
						left: -7px;
					}
				}
				
				@media only screen and (max-width: 676px) {
					font-size: 14px;
				}
				
				@media only screen and (max-width: 601px) {
					display: none;
				}
			}
		
			.image {
				position: relative;
				width: 206px;
				height: 136px;
				overflow: hidden;
			
				div {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: top center;
					@include transition(transform 1s ease);
				}
				
				@media only screen and (max-width: 601px) {
					width:auto;
					div{
						background-position:center center;	
					}
					
					//display: none;
				}
			}
		}
		
		p {
			margin: 0;
			font-size: 14px;
			line-height: 24px;
			
			&.timeline__item__title {
				font-size: 24px;
				line-height: 30px;
				margin-bottom: 15px;
				
				@media only screen and (max-width: 950px) {
					font-size: 18px;
					line-height: 24px;
					margin-bottom: 10px;
				}
				
				@media only screen and (max-width: 676px) {
					font-size: 16px;
					line-height: 20px;
					margin-bottom: 5px;
				}
			}
		}
		
		&__content {
			position: relative;
			z-index: 1;
			background-color: $c-light;
			padding: 28px 31px;
			max-width: 368px;
			
			@media only screen and (max-width: 920px) {
				float: left;
				margin-left: 20px;
				min-height: 203px;
				max-width: 460px;
			}
			
			@media only screen and (max-width: 892px) {
				max-width: 430px;
			}
			
			@media only screen and (max-width: 864px) {
				max-width: 400px;
			}
			
			@media only screen and (max-width: 830px) {
				max-width: 370px;
			}
			
			@media only screen and (max-width: 796px) {
				max-width: 340px;
			}
			
			@media only screen and (max-width: 676px) {
				padding: 20px;
			}
			
			@media only screen and (max-width: 661px) {
				max-width: 310px;
			}
			
			@media only screen and (max-width: 631px) {
				max-width: 280px;
			}
			
			@media only screen and (min-width: 602px) {
				.timeline__item__date {
					display: none;
				}
			}
			
			@media only screen and (max-width: 601px) {
				margin-left: 0;
				max-width: 100%;
				min-height: 100%;
				
				.timeline__item__date {
					@include giveColorFor(color);
					font-size: 12px;
					margin: 0;
					margin-bottom: 5px;					
				}
			}
			
			@media only screen and (max-width: 560px) {
				padding: 10px 15px;
			}
			
			&:before {
				position: absolute;
				z-index: -1;
				top: 15px;
				width: 15px;
				height: 15px;
				background-color: $c-light;
				display: block;
				content: '';
				@include transform(rotate(45deg));
				
				@media only screen and (max-width: 601px) {
					left: -7px;
				}
			}
		}
		
		@media only screen and (min-width: 921px) {
			&.odd {
				.timeline__item__date-and-image {
					float: left;
					margin-left: 19%;
					text-align: right;
					
					@media only screen and (max-width: 984px) {
						margin-left: 18%;
					}
					
					@media only screen and (max-width: 966px) {
						margin-left: 17%;
					}
					
					@media only screen and (max-width: 950px) {
						margin-left: 16%;
					}
					
					@media only screen and (max-width: 920px) {
						margin-left: 0;
					}
					
					.date:before {
						right: -6px;
					}
				}
			
				.timeline__item__content {
					float: right;
					
					@media only screen and (max-width: 984px) {
						margin-right: -2%;
					}
					
					@media only screen and (max-width: 966px) {
						margin-right: -3%;
					}
					
					@media only screen and (max-width: 950px) {
						margin-right: -5%;
					}
					
					@media only screen and (max-width: 920px) {
						margin-right: 0;
					}
					
					&:before {
						left: -6px;
					}
				}
			}
			
			&.even {
				.timeline__item__date-and-image {
					float: right;
					margin-right: 19%;
					
					@media only screen and (max-width: 984px) {
						margin-right: 18%;
					}
					
					@media only screen and (max-width: 966px) {
						margin-right: 17%;
					}
					
					@media only screen and (max-width: 950px) {
						margin-right: 16%;
					}
					
					@media only screen and (max-width: 920px) {
						margin-right: 0;
					}
					
					.date:before {
						left: -6px;
					}
				}
				
				.timeline__item__content {
					float: left;
					
					@media only screen and (max-width: 984px) {
						margin-left: -2%;
					}
					
					@media only screen and (max-width: 966px) {
						margin-left: -3%;
					}
					
					@media only screen and (max-width: 950px) {
						margin-left: -5%;
					}
					
					@media only screen and (max-width: 920px) {
						margin-left: 0;
					}
					
					@media only screen and (max-width: 920px) {
						margin-left: 0;
					}
					
					&:before {
						right: -6px;
						
						@media only screen and (max-width: 920px) {
							right: 98%;
						}
					}
				}
			}
		}
	}
	
	&__item:hover {
		.timeline__item__date-and-image .image {
			overflow: hidden;
			
			div {
				@include transform(scale(1.05) rotate(0.02deg));
			}
		}
	}
}