.notfound {
	width: 90%;
	max-width: 710px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 14vh;
	text-align: center;
	
	img {
		display: inline-block;
		margin-bottom: 30px;
	}
	
	h1 {
		font-size: 4.7vw;
		font-weight: 700;
		line-height: 64px;
		@include giveColorFor(color);
		margin-bottom: 0;
		text-transform: uppercase;
	}
	
	p {
		font-size: 1.85vw;
		margin-top: 7px;
		margin-bottom: 7vh;
		line-height: 1.5;
	}
	
	@media only screen and (min-width: 1270px) {
		h1 {
			font-size: 59px;
		}
		
		p {
			font-size: 23px;
		}
	}
	
	@media only screen and (min-width: 1200px) and (max-height: 920px) {
		padding-top: 8vh;
		
		img {
			width: 70%;
		}
		
		h1 {
			font-size: 48px;
		}
		
		p {
			font-size: 19px;
		}
	}
	
	@media only screen and (max-width: 768px) {
		h1 {
			font-size: 48px;
		}
		
		p {
			font-size: 19px;
		}
	}
	
	@media only screen and (max-width: 676px) {
		h1 {
			font-size: 40px;
		}
		
		p {
			font-size: 16px;
		}
	}
	
	@media only screen and (max-width: 570px) {
		h1 {
			font-size: 32px;
		}
		
		p {
			font-size: 14px;
			margin-top: 0;
		}
	}
	
	@media only screen and (max-width: 463px) {
		h1 {
			font-size: 28px;
		}
	}
	
	@media only screen and (max-width: 410px) {
		h1 {
			font-size: 24px;
		}
	}
	
	@media only screen and (max-width: 357px) {
		h1 {
			font-size: 20px;
		}
	}
	
	@media only screen and (max-width: 305px) {
		h1 {
			font-size: 16px;
		}
	}
}