body.page-template-template-homepage{
	.section h2{
		a{
			color:inherit;
			text-decoration: none;
		}
	}
}

@media(max-width:1025px) and (min-width: 480px){
	.hero--large .hero__item{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}